h1 {
    text-align: center;
}

.database-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    border: 1px solid #ccc;
    border-radius: 6px;
    min-height: 85dvh;
    max-width: 1200px;
    margin: 0 auto;
}

#menu-container {
    border-right: 1px solid #ccc;
}
.details-container {
    padding: 0 3rem 0;
}